<div class="container">
  <div class="row">
    <app-contact-form class="col-5" (add-contact)="addContact($event)"></app-contact-form>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <app-contact-row class="list-group-item"
                         *ngFor="let contact of contacts" [current]="contact"
        (click)="contView.setCurrent(contact)"></app-contact-row>
      </ul>
    </div>
    <div class="col">
      <!--<app-contact-view [currentView]="contact"></app-contact-view>-->
      <app-contact-view #contView></app-contact-view>
    </div>
  </div>
</div>
